<div class="article-share text-center">
  {% assign page_title = page.title  | cgi_escape | truncate: 110 %}
  {% capture twitter-share-text %}{{ page_title }} - {{ page.url | remove: 'index.html' | prepend: site.url }}{% if site.social.twitter %} by @{{ site.social.twitter }}{% endif %}{% endcapture %}
  <a href="https://twitter.com/home?status={{ twitter-share-text | uri_escape }}" title="Share on Twitter" rel="noreferrer noopener" target="_blank">
    <i class="fab fa-twitter" aria-hidden="true"></i>
  </a>
  <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | remove: 'index.html' | prepend: site.url }}" title="Share on Facebook" rel="noreferrer noopener" target="_blank">
    <i class="fab fa-facebook-f" aria-hidden="true"></i>
  </a>
  <a href="https://plus.google.com/share?url={{ page.url | remove: 'index.html' | prepend: site.url }}" title="Share on Google+" rel="noreferrer noopener" target="_blank">
    <i class="fab fa-google-plus-g" aria-hidden="true"></i>
  </a>
</div>

<div class="article-pagination">
  {% if page.previous != nil %}
    <a href="{{ page.previous.url }}" rel="prev" title="{{ page.previous.title }}" class="article-pagination-right">Older post <small><i class="fas fa-angle-double-right" aria-hidden="true"></i></small></a>
  {% endif %}
  {% if page.next != nil %}
    <a href="{{ page.next.url }}" rel="next" title="{{ page.next.title }}"><small><i class="fas fa-angle-double-left" aria-hidden="true"></i></small> Newer post</a>
  {% endif %}
</div>