<!-- favicons -->
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="{% asset favicons/apple-touch-icon-57x57.png @path %}" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% asset favicons/apple-touch-icon-114x114.png @path %}" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% asset favicons/apple-touch-icon-72x72.png @path %}" />
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="{% asset favicons/apple-touch-icon-60x60.png @path %}" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="{% asset favicons/apple-touch-icon-120x120.png @path %}" />
<link rel="apple-touch-icon-precomposed" sizes="192x192" href="{% asset favicons/apple-touch-icon-192x192.png @path %}" />
<link rel="apple-touch-icon-precomposed" sizes="512x512" href="{% asset favicons/apple-touch-icon-512x512.png @path %}" />
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="{% asset favicons/apple-touch-icon-76x76.png @path %}" />
<link rel="icon" type="image/png" href="{% asset favicons/favicon-96x96.png @path %}" sizes="96x96" />
<link rel="icon" type="image/png" href="{% asset favicons/favicon-32x32.png @path %}" sizes="32x32" />
<link rel="icon" type="image/png" href="{% asset favicons/favicon-16x16.png @path %}" sizes="16x16" />
<link rel="icon" type="image/png" href="{% asset favicons/favicon-128.png @path %}" sizes="128x128" />
<meta name="msapplication-square70x70logo" content="{% asset favicons/mstile-70x70.png @path %}" />