<!-- favicons -->
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="{% asset_path apple-touch-icon-57x57.png %}" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% asset_path apple-touch-icon-114x114.png %}" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% asset_path apple-touch-icon-72x72.png %}" />
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="{% asset_path apple-touch-icon-60x60.png %}" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="{% asset_path apple-touch-icon-120x120.png %}" />
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="{% asset_path apple-touch-icon-76x76.png %}" />
<link rel="icon" type="image/png" href="{% asset_path favicon-96x96.png %}" sizes="96x96" />
<link rel="icon" type="image/png" href="{% asset_path favicon-32x32.png %}" sizes="32x32" />
<link rel="icon" type="image/png" href="{% asset_path favicon-16x16.png %}" sizes="16x16" />
<link rel="icon" type="image/png" href="{% asset_path favicon-128.png %}" sizes="128x128" />
<meta name="msapplication-square70x70logo" content="{% asset_path mstile-70x70.png %}" />