{% if page.url == '/' %}
  <script type="application/ld+json">
    { "@context": "http://schema.org",
      "@type": "Blog",
      "url": "http://rahulja.in",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "http://rahulja.in"
      },
      "author": {% include head/structured_data_person.html %}
    }
  </script>

  {% assign items = "" %}
  {% for post in site.posts %}
    {% capture list_item %}
      {
        "@type": "ListItem",
        "position": {{ forloop.index }},
        "url": "http://rahulja.in{{ post.url }}"
      }
    {% endcapture %}
    {% assign items = items | append: list_item | append: "|||" %}
  {% endfor %}
  {% assign items = items | split: "|||" | join: ',' %}

  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "ItemList",
      "itemListElement": [
      {{ items }}
      ]
    }
  </script>

{% endif %}