{% if page.url contains '/posts/' %}
  {%  unless page.url contains '/posts/page/' %}
    {% assign wordcount = include.content | markdownify | newline_to_br | strip_html | strip_newlines | strip | number_of_words %}
<script type="application/ld+json">
{
   "@context":"http://schema.org",
   "@type":"BlogPosting",
   "headline":"{{ include.headline }}",
   "keywords":"{{ include.keywords }}",
   "wordCount":"{{ wordcount }}",
   "url":"https://rahulja.in{{ include.link }}",
   "datePublished":"{{ include.datePublished | | date: '%Y-%m-%d' }}",
   "dateModified":"{{ include.dateModified | | date: '%Y-%m-%d' }}",
   "author": {% include head/structured_data_person.html %},
   "publisher": {
      "@type": "Organization",
      "name": "Rahul Jain",
      "logo": {
        "@type": "ImageObject",
        "url": "https://rahulja.in/assets/about.jpg"
      }
    },
   "image":"{% include head/thumb_image_url.html %}",
   "mainEntityOfPage":{
      "@type":"WebPage",
      "@id":"https://rahulja.in{{ include.link }}"
   },
   "articleBody":"{{ include.content | markdownify | newline_to_br | strip_html | strip_newlines | strip | escape | remove:'\' }}"
}
</script>
  {% endunless %}
{% endif %}