{% if page.url contains '/posts/' %}
  {%  unless page.url contains '/posts/page/' %}
    {% assign wordcount = include.content | markdownify | newline_to_br | strip_html | strip_newlines | strip | number_of_words %}
<script type="application/ld+json">
{
   "@context":"http://schema.org",
   "@type":"BlogPosting",
   "headline":"{{ include.headline }}",
   "keywords":"{{ include.keywords }}",
   "wordCount":"{{ wordcount }}",
   "url":"{{ site.url }}{{ include.link }}",
   "datePublished":"{{ include.datePublished | | date: '%Y-%m-%d' }}",
   "dateModified":"{{ include.dateModified | | date: '%Y-%m-%d' }}",
   "author": {% include head/structured_data_person.html %},
   "publisher": {
      "@type": "Organization",
      "name": "Rahul Jain",
      "logo": {
        "@type": "ImageObject",
        "url": "{{ site.url }}/assets/about.jpg"
      }
    },
    "image":"{% include head/thumb_image_url.html %}",
    "mainEntityOfPage":{
      "@type":"WebPage",
      "@id":"{{ site.url }}{{ include.link }}"
    },
    "articleBody":"{{ include.content | markdownify | newline_to_br | strip_html | strip_newlines | strip | escape | remove:'\' }}"
}
</script>
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [{
      "@type": "ListItem",
      "position": 1,
      "item": {
        "@id": "{{ site.url }}/about",
        "name": "{{ site.name }}",
        "image": "{{ site.url }}/assets/about.jpg"
      }
    }, {
      "@type": "ListItem",
      "position": 2,
      "item": {
        "@id": "{{ site.url }}",
        "name": "Posts"
      }
    }, {
      "@type": "ListItem",
      "position": 3,
      "item": {
        "@id": "{{ site.url }}{{ include.link }}",
        "name": "{{ include.headline }}",
        "image": "{% include head/thumb_image_url.html %}"
      }
    }]
  }
</script>
  {% endunless %}
{% endif %}