{% include head/open_graph_metadata.html %}
{% include head/social_meta_tags.html %}

{%  unless page.url contains '/posts'  %}
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Person",
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "Gurgaon",
      "addressRegion": "HR",
      "addressCountry": "India",
      "sameAs": "https://en.wikipedia.org/wiki/Gurgaon"
    },
    "homeLocation": {
      "@type": "Place",
      "address": {
        "@type": "PostalAddress",
        "addressLocality": "Gurgaon",
        "addressRegion": "HR",
        "addressCountry": "India",
        "sameAs": "https://en.wikipedia.org/wiki/Gurgaon"
      }
    },
    "alumniOf": {
      "@type": "EducationalOrganization",
      "name": "Chandigarh Engineering College",
      "sameAs": "http://cecmohali.org/"
    },
    "birthDate": "1993-02-17",
    "email": "rahul_jain@live.in",
    "name": "Rahul Jain",
    "familyName": "Jain",
    "givenName": "Rahul",
    "jobTitle": "Senior Software Engineer",
    "worksFor": {
      "@type": "Organization",
      "name": "Shopclues",
      "sameAs": "http://www.shopclues.com"
    },
    "nationality": {
      "@type": "Country",
      "name": "India",
      "sameAs": "https://en.wikipedia.org/wiki/India"
    },
    "image": "http://rahulja.in/assets/about.jpg",
    "url": "http://rahulja.in"
  }
</script>
{% endunless %}