 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2" style="min-height: 270px;" align="center">
                    <h3 style='color: #444;' align="center">_RJ</h3>

                    <p style="color: #ddd;" align="center">
                            <div class="about-about">_birthday</div>
                            <div class="about-next">
                                _17_february
                            </div>
                            <div class="about-about">_work</div>
                            <div class="about-next">
                                _software_engineer_@_shopclues
                            </div>
                            <div class="about-about">_education</div>
                            <div class="about-next">
                                _final_year _undergrad _computer_science_&_engineering
                            </div>
                            <div class="about-about">_hobbies</div>
                            <div class="about-next">
                                _programming _opencourseware _guitar _reading _tinkering
                            </div>
                            <div class="about-about">_likes</div>
                            <div class="about-next">
                                _anime _fanfictions _blogging _rationality
                            </div>
                    </p>
                </div>
                <div class="col-lg-4"><br>
                    <h3 style="color: #444;" align="center">Blogs</h3>
                    <a id="a_blogs" href="http://rahulgr8888.blogspot.com/" target="_blank"><p>Internesque</p></a>
                    <a id="a_blogs" href="http://TILinCS.blogspot.com/" target="_blank"><p>TIL in Computer Science</p></a>
                    <a id="a_blogs" href="http://ideafecate.blogspot.com/" target="_blank"><p>Ideafecate</p></a>
                    <a id="a_blogs" href="http://hpmor-science.blogspot.com/" target="_blank"><p>HPMOR - Scientific Facts</p></a>
                    <div align="center"><br>
                        <a href="files/resume.pdf" target="_blank" class="btn btn-lg btn-outline bg-download">
                            <i class="fa fa-download"></i> Résumé
                        </a>
                    </div>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    
                </div>
            </div>
        </div>
    </section>
