 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <h3 style='color: #444;' align="center">_RJ</h3>
                    <p style="color: #ddd;" align="center">
                            <span class="about-about" 
                                                data-ref="<span style='color: #555;'>
                                                            <b>_BIRTHDAY&nbsp;&nbsp;</b>
                                                          </span><br>
                                                          <span style='color: #fff;'>
                                                            _17_february
                                                          </span> ">
                                            _birthday
                                        </span>
                        <br><span class="about-about" 
                                                data-ref="<span style='color: #555;'>
                                                            <b>_WORK&nbsp;&nbsp;</b>
                                                          </span><br>
                                                          <span style='color: #fff;'>
                                                            _software_engineer_@_shopclues
                                                          </span> ">
                                            _work
                                        </span>
                        <br><span class="about-about" 
                                                data-ref="<span style='color: #555;'>
                                                            <b>_EDUCATION&nbsp;&nbsp;</b>
                                                          </span><br>
                                                          <span style='color: #fff;'>
                                                            _final_year _undergrad _computer_science_&_engineering
                                                          </span> ">
                                            _education
                                        </span>
                        <br><span class="about-about" 
                                                data-ref="<span style='color: #555;'>
                                                            <b>_HOBBIES&nbsp;&nbsp;</b>
                                                          </span><br>
                                                          <span style='color: #fff;'>
                                                            _programming _opencourseware _guitar _reading _tinkering
                                                          </span> ">
                                            _hobbies
                                        </span>
                        <br><span class="about-about" 
                                                data-ref="<span style='color: #555;'>
                                                            <b>_LIKES&nbsp;&nbsp;</b>
                                                          </span><br>
                                                          <span style='color: #fff;'>
                                                            _anime _fanfictions _blogging _rationality
                                                          </span> ">
                                            _likes
                                        </span>
                    </p>
                </div>
                <div class="col-lg-4">
                    <h3 style="color: #444;" align="center">Blogs</h3>
                    <a id="a_blogs" href="http://rahulgr8888.blogspot.com/"><p>Internesque</p></a>
                    <a id="a_blogs" href="http://ideafecate.blogspot.com/"><p>Ideafecate</p></a>
                    <a id="a_blogs" href="http://hpmor-science.blogspot.com/"><p>HPMOR - Scientific Facts</p></a>
                    <a id="a_blogs" href="http://cprogramsmadeeasy.blogspot.com/"><p>C Programs made Easy</p></a>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Résumé
                    </a>
                </div>
            </div>
        </div>
    </section>