<link rel="icon" type="image/x-icon" href="img/favicons/favicon.ico">
<link rel="apple-touch-icon-precomposed" href="img/favicons/tardis-152-194871.png">
<meta name="msapplication-TileColor" content="#ffffff" />
<meta name="msapplication-TileImage" content="img/favicons/tardis-144-194871.png">
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="img/favicons/tardis-152-194871.png">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/favicons/tardis-144-194871.png">
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="img/favicons/tardis-120-194871.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/favicons/tardis-114-194871.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/favicons/tardis-72-194871.png">
<link rel="apple-touch-icon-precomposed" href="img/favicons/tardis-57-194871.png">
<link rel="icon" href="img/favicons/tardis-32-194871.png" sizes="32x32">