<footer class="footer reveal">
  <ul class="footer-links">
    {% if site.social_links.email %}
      <li>
        <a href="mailto:{{ site.social_links.email }}" title="Email">
          <i class="fa fa-at" aria-hidden="true"></i>
        </a>
      </li>
    {% endif %}
    {% if site.social_links.facebook %}
      <li>
        <a href="https://www.facebook.com/{{ site.social_links.facebook }}" target="_blank" title="Facebook">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
      </li>
    {% endif %}
    {% if site.social_links.twitter %}
      <li>
        <a href="https://twitter.com/{{ site.social_links.twitter }}" target="_blank" title="Twitter">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
      </li>
    {% endif %}
    {% if site.social_links.linkedin %}
      <li>
        <a href="https://www.linkedin.com/in/{{ site.social_links.linkedin }}" target="_blank" title="LinkedIn">
          <i class="fa fa-linkedin" aria-hidden="true"></i>
        </a>
      </li>
    {% endif %}
    {% if site.social_links.github %}
      <li>
        <a href="https://github.com/{{ site.social_links.github }}" target="_blank" title="GitHub">
          <i class="fa fa-github" aria-hidden="true"></i>
        </a>
      </li>
    {% endif %}
    {% if site.social_links.stackoverflow %}
      <li>
        <a href="http://stackoverflow.com/users/{{ site.social_links.stackoverflow }}" target="_blank" title="StackOverflow">
          <i class="fa fa-stack-overflow" aria-hidden="true"></i>
        </a>
      </li>
    {% endif %}
    {% if site.social_links.freecodecamp %}
      <li>
        <a href="https://www.freecodecamp.com/{{ site.social_links.freecodecamp }}" target="_blank" title="freeCodeCamp">
          <i class="fa fa-free-code-camp" aria-hidden="true"></i>
        </a>
      </li>
    {% endif %}
    {% if site.social_links.bitcoin %}
      <li>
        <a href="bitcoin:{{ site.social_links.bitcoin }}" target="_blank" title="Bitcoin">
          <i class="fa fa-btc" aria-hidden="true"></i>
        </a>
      </li>
    {% endif %}
    {% if site.rss_enabled == true %}
      <li>
        <a href="{{ 'feed.xml' | relative_url }}" target="_blank" title="RSS">
          <i class="fa fa-rss" aria-hidden="true"></i>
        </a>
      </li>
    {% endif %}
  </ul>

  <p class="text-center">
    I'm using customized
    <a target="_blank" href="{{ site.attribution.template.project_url }}" title="About me">Chalk</a>,
    a template by
    <a target="_blank" href="{{ site.attribution.template.creator_url }}" title="About me">Nielsen Ramon</a>.
  </p>

</footer>
