<footer class="footer">
  <ul class="footer-links">
    {% if site.social_links.email %}
      <li>
        <a href="mailto:{{ site.social_links.email }}" title="Email">
          <i class="fas fa-at" aria-hidden="true"></i>
        </a>
      </li>
    {% endif %}
    {% if site.social_links.facebook %}
      <li>
        <a href="https://www.facebook.com/{{ site.social_links.facebook }}" target="_blank" rel="noopener noreferrer" title="Facebook">
          <i class="fab fa-facebook-f" aria-hidden="true"></i>
        </a>
      </li>
    {% endif %}
    {% if site.social_links.twitter %}
      <li>
        <a href="https://twitter.com/{{ site.social_links.twitter }}" target="_blank" rel="noopener noreferrer" title="Twitter">
          <i class="fab fa-twitter" aria-hidden="true"></i>
        </a>
      </li>
    {% endif %}
    {% if site.social_links.googleplus %}
      <li>
        <a href="https://plus.google.com/+{{ site.social_links.googleplus }}" target="_blank" rel="me noopener noreferrer" title="Google Plus">
          <i class="fab fa-google-plus-g" aria-hidden="true"></i>
        </a>
      </li>
    {% endif %}
    {% if site.social_links.linkedin %}
      <li>
        <a href="https://www.linkedin.com/in/{{ site.social_links.linkedin }}" target="_blank" rel="noopener noreferrer" title="LinkedIn">
          <i class="fab fa-linkedin-in" aria-hidden="true"></i>
        </a>
      </li>
    {% endif %}
    {% if site.social_links.github %}
      <li>
        <a href="https://github.com/{{ site.social_links.github }}" target="_blank" rel="noopener noreferrer" title="GitHub">
          <i class="fab fa-github" aria-hidden="true"></i>
        </a>
      </li>
    {% endif %}
    {% if site.social_links.stackoverflow %}
      <li>
        <a href="http://stackoverflow.com/users/{{ site.social_links.stackoverflow }}" target="_blank" rel="noopener noreferrer" title="StackOverflow">
          <i class="fab fa-stack-overflow" aria-hidden="true"></i>
        </a>
      </li>
    {% endif %}
    {% if site.social_links.freecodecamp %}
      <li>
        <a href="https://www.freecodecamp.com/{{ site.social_links.freecodecamp }}" target="_blank" rel="noopener noreferrer" title="freeCodeCamp">
          <i class="fab fa-free-code-camp" aria-hidden="true"></i>
        </a>
      </li>
    {% endif %}
    {% if site.social_links.bitcoin %}
      <li>
        <a href="bitcoin:{{ site.social_links.bitcoin }}" target="_blank" rel="noopener noreferrer" title="Bitcoin">
          <i class="fab fa-btc" aria-hidden="true"></i>
        </a>
      </li>
    {% endif %}
    {% if site.rss_enabled == true %}
      <li>
        <a href="{{ 'feed.xml' | relative_url }}" target="_blank" title="RSS">
          <i class="fas fa-rss" aria-hidden="true"></i>
        </a>
      </li>
    {% endif %}
  </ul>

  <p class="text-center">
    I'm using customized
    <a target="_blank" href="{{ site.attribution.template.project_url }}" rel="noopener noreferrer" title="Chalk">Chalk</a>,
    a template by
    <a target="_blank" href="{{ site.attribution.template.creator_url }}" rel="noopener noreferrer" title="Nielsen Ramon">Nielsen Ramon</a>.
  </p>

</footer>
