<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ site.name }}{% if page.title and page.title != '' %} | {{ page.title }}{% endif %}</title>
  <meta name="description" content="{{ page.description }}">

  <link rel="canonical" href="{{ page.url | absolute_url }}" />
  <link rel="alternate" media="handheld" href="{{ page.url | absolute_url }}" />

  <meta name="msvalidate.01" content="C02D47D34B2CA730AA994096C315F5FE" />

  {% include head/favicon_links.html %}

  <!-- feed link -->
  <link type="application/atom+xml" rel="alternate" href="{{ site.url }}/feed.xml" title="Articles by {{ site.author.name }}">

  {% if site.local_fonts %}
    {% stylesheet fonts %}
  {% endif %}

  {% if site.blog_theme == "light" %}
    {% stylesheet light %}
  {% else %}
    {% stylesheet dark %}
  {% endif %}

  {% include head/structured_data.html %}

</head>
