<head>
  <meta charset="utf-8">
  <meta name="theme-color" content="#ffffff"/>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <meta name="msvalidate.01" content="C02D47D34B2CA730AA994096C315F5FE" />
  <meta name="description" content="{{ page.description }}">

  <link rel="manifest" href="/manifest.json">

  {% if page.amp %}
  {% else %}
    {% if page.path contains '_posts' %}
      {% unless page.skip_amp %}
        <link rel="amphtml" href="{{ page.id | prepend: '/amp' | prepend: site.url }}">
      {% endunless %}
    {% endif %}
  {% endif %}

  {% include head/title.html %}

  {% if page.amp %}
    <link rel="canonical" href="{{ page.canonical_url | remove: 'index.html' | prepend: site.url }}" />
    <link rel="alternate" media="handheld" href="{{ page.canonical_url | remove: 'index.html' | prepend: site.url }}" />
  {% else %}
    <link rel="canonical" href="{{ page.url | remove: 'index.html' | prepend: site.url }}" />
    <link rel="alternate" media="handheld" href="{{ page.url | remove: 'index.html' | prepend: site.url }}" />
  {% endif %}

  {% include head/favicon_links.html %}

  <!-- feed link -->
  <link type="application/atom+xml" rel="alternate" href="{{ site.url }}/feed.xml" title="Articles by {{ site.author.name }}">

  {% if page.amp %}
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:700|Lato:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    {% if site.blog_theme == "light" %}
      {% asset light.css @inline amp-custom !rel !crossorigin !integrity %}
    {% else %}
      {% asset dark.css @inline amp-custom !rel !crossorigin !integrity %}
    {% endif %}
  {% else %}
    {% if site.local_fonts %}
      {% if site.blog_theme == "light" %}
        {% asset fonts-light.css @inline %}
      {% else %}
        {% asset fonts-dark.css @inline %}
      {% endif %}
    {% else %}
      {% if site.blog_theme == "light" %}
        {% asset light.css @inline %}
      {% else %}
        {% asset dark.css @inline %}
      {% endif %}
    {% endif %}
  {% endif %}

  {% include head/structured_data.html %}

  {% if page.amp %}
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>

    <script async custom-element="amp-analytics"
      src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
    <script async custom-element="amp-install-serviceworker"
      src="https://cdn.ampproject.org/v0/amp-install-serviceworker-0.1.js"></script>

    {% if page.ampTags contains 'amp-gist' %}
      <script async custom-element="amp-gist"
        src="https://cdn.ampproject.org/v0/amp-gist-0.1.js"></script>
    {% endif %}
    <!-- amp-youtube doesn't work -->
    {% if page.ampTags contains 'amp-youtube' %}
      <script async custom-element="amp-youtube"
        src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
    {% endif %}
    {% if page.ampTags contains 'amp-iframe' %}
      <script async custom-element="amp-iframe"
        src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>
    {% endif %}

    <script async src="https://cdn.ampproject.org/v0.js"></script>

  {% else %}

    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','{{ site.gtag_universal }}');
    </script>

  {% endif %}
</head>
