<nav class="header-nav reveal">
  <a href="{{ '/' | relative_url }}" class="header-logo" title="{{ site.name }}">
    {% if page.title and page.title != '' %}
      {{ site.name }}
    {% else %}
      <h1 class="header-logo">{{ site.name }}</h1>
    {% endif %}
  </a>
  <ul class="header-links">

    {%  unless page.url contains '/tags'  %}
      <li>
        <a class="header-icon-link" href="{{ 'tags' | relative_url }}" title="Tags">
          <i class="fa fa-hashtag" aria-hidden="true"></i>tags
        </a>
      </li>
    {% endunless %}

    {% if site.about_enabled == true %}
      {%  unless page.url contains '/about'  %}
        <li>
          <a class="header-icon-link" href="{{ 'about' | relative_url }}" title="About me">
            <i class="fa fa-user" aria-hidden="true"></i> Profile
          </a>
        </li>
      {% endunless %}
    {% endif %}

  </ul>
</nav>
