<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="modal-body">
            <h2>Blogs</h2>
            <hr class="star-primary">
            {% if post.display-image %}
                <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
            {% endif %}
            <p>
                <br>
                <a href="http://rahulgr8888.blogspot.com/" target="_blank">Internesque</a>
                <br>
                <a href="http://ideafecate.blogspot.com/" target="_blank">Ideafecate</a>
                <br>
                <a href="http://hpmor-science.blogspot.com/" target="_blank">HPMOR - Scientific Facts</a>
                <br>
                <a href="http://cprogramsmadeeasy.blogspot.com/" target="_blank">C Programs made Easy</a>
                <br>
            </p>
            <ul class="list-inline item-details">
                {% if post.client %}
                <li>
                    <strong><a href="http://rahulja.in">{{ post.client }}</a>
                    </strong>
                </li>
                {% endif %}
                {% if post.project-date %}
                <li>
                    <strong><a href="http://rahulja.in">{{ post.project-date }}</a>
                    </strong>
                </li>
                {% endif %}
                {% if post.category %}
                <li>
                    <strong><a href="http://rahulja.in">{{ post.category }}</a>
                    </strong>
                </li>
                {% endif %}
            </ul>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
        </div>
    </div>
</div>
