<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="modal-body">
            <h2>Blogs</h2>
            <hr class="star-primary">
            {% if post.display-image %}
                <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
            {% endif %}
            <p>A multiple quiz website I created for a college event!</p>
            <p><a href="http://quiz.rahulja.in">Programming Quiz</a></p>
            <ul class="list-inline item-details">
                {% if post.client %}
                <li>
                    <strong><a href="http://rahulja.in">{{ post.client }}</a>
                    </strong>
                </li>
                {% endif %}
                {% if post.project-date %}
                <li>
                    <strong><a href="http://rahulja.in">{{ post.project-date }}</a>
                    </strong>
                </li>
                {% endif %}
                {% if post.category %}
                <li>
                    <strong><a href="http://rahulja.in">{{ post.category }}</a>
                    </strong>
                </li>
                {% endif %}
            </ul>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
        </div>
    </div>
</div>
