// =============================================================================
// Header
// =============================================================================

.header-nav {
  display: block;
  padding: 75px 0 10px;
  border-bottom: 1px solid $base-border-color;
}

.header-logo {
  display: inline-block;
  font-family: $serif;
  font-size: 36px;
  font-weight: 900;
  color: $header-logo-color;
  text-decoration: none;
  line-height: 2.1;
}

.header-icon {
  font-size: 25px;
}

.header-icon-link {
  text-decoration: none;
}

.hash-icon-header {
    font-size: 19px;
}

.header-links {
  float: right;
  padding: 0;
  margin: 18px 0 0;
  list-style: none;
  li {
    display: inline-block;
    margin-left: 20px;
    vertical-align: middle;
    &:first-child {
      margin-left: 0;
    }
    a {
      font-size: 18px;
      color: $header-link-color;
      &:hover {
        color: $header-link-color-hover;
      }
    }
  }
}

@include breakpoint(extra-small) {
  .header-nav {
    text-align: center;
  }
  .header-links {
    display: block;
    float: none;
    text-align: center;
    li {
      margin: 0 10px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
