---
title: "Tags"
description: "Tags from all the posts"
permalink: /projects
sitemap: false
---

<div class="tags-page text-center">
  <h1 class="tags-page-header reveal">
    <small><i class="fa fa-briefcase" aria-hidden="true"></i></small> Projects
  </h1>

{% assign project_array = "" | split:"," %}
{% for post in site.posts %}
  {% if post.projects != null %}
    {% assign post_projects = post.projects | uniq %}
    {% for post_project in post_projects %}
      {% assign project_array = project_array | push: post_project %}
    {% endfor %}
  {% endif %}
{% endfor %}
  <br>
  {% assign my_projects = site.collections | where: "label", "my_projects" | first %}

  {% for project in my_projects.docs %}
    {% if project_array contains project.slug %}

      {% assign post_count = "" | split:"," %}
      {% for mention in project_array %}
        {% if mention == project.slug %}
          {% assign post_count = post_count | push: mention %}
        {% endif %}
      {% endfor %}

      <a class="no-text-decoration" href="{{ 'project/' | relative_url }}{{ project.slug }}" title="See all posts related to {{ project.name }}">
        <h4 class="reveal">{{ project.name | upcase }} <small>({{ post_count | size }})</small></h4>
      </a>
    {% endif %}
  {% endfor %}
</div>
