<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% include favicons.html %}
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'404.html','' | prepend: site.url }}">
    {% if page.url == "/404.html" %}
		<meta http-equiv="refresh" content="5; url=/">
	{% endif %} 
    <link rel="stylesheet" href="{{ "/style.css" }}">

    <link rel="stylesheet" href="{{ "/css/font-awesome/css/font-awesome.min.css" }}">
    <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <title>{{ site.title }} {{ site.404titleappend }}</title>
</head>
<body id="page-top" class="index">
	<br><br><br><br><br><br><br>
	<h1 align="center" width="100%">Sorry this page does not exist =(</h1>
	<h3 align="center" width="100%"><a href="/">Go Back?</a></h1>
    {% include footer.html %}
    {% include js.html %}

</body>
</html>