@font-face {
  font-family: Cormorant Garamond;
  font-style: normal;
  font-weight: 600;
  src: url(/assets/cormorant-garamond/CormorantGaramond-SemiBold.woff2);
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
  font-display: swap;
}

.title {
  font-family:
    'Cormorant Garamond', 'Book Antiqua', 'Palatino Linotype', Palatino, serif;
  font-size: 400%;
  margin-top: auto;
  margin-bottom: auto;
}

.subtitle {
  font-family: 'Book Antiqua', 'Palatino Linotype', Palatino, serif;
  font-size: 150%;
  font-weight: normal;
  margin-top: auto;
  margin-bottom: auto;
}

.subnote {
  margin-top: 2em;
  font-family: 'Palatino Linotype', Palatino, serif;
  font-size: 75%;
}

/* For Mobile */
@media screen and (max-width: 540px) {
  .title {
    font-size: 15vw;
  }
  .subtitle {
    font-size: 7vw;
  }
  .subnote {
    font-size: 4vw;
  }
}

.outer {
}

.middle {
}

.innie {
  width: auto;
  height: auto;
  text-align: center;
  text-shadow: 0 0 1px white;
}

a {
  text-decoration: none;
}

svg {
  height: 2em;
  margin: 1em;
}

html,
body {
  height: 100%;
  /* min-height is buggie in IE */
}

body,
.innie {
  display: flex;
  flex-direction: column;
  /* now centers things in X,Y axis */
  align-items: center;
  justify-content: center;
}

.flip-animation span {
  display: inline-block;
  animation: flip 6s infinite;
  animation-delay: calc(0.1s * var(--i));
  will-change: transform;
}

.display-none {
  display: none;
}

@keyframes flip {
  0% {
    transform: rotateY(360deg);
  }

  95% {
    transform: rotateY(360deg);
  }
}

.swap-animation {
  display: grid;
  place-items: center;
}

.swap-animation span {
  grid-area: 1 / 1;
  opacity: 0;
  visibility: hidden;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.swap-animation span:nth-child(1) {
  animation-name: swap-1;
}

.swap-animation span:nth-child(2) {
  animation-name: swap-2;
}

.swap-animation span:nth-child(3) {
  animation-name: swap-3;
}

.swap-animation span:nth-child(4) {
  animation-name: swap-4;
}

.swap-animation span:nth-child(5) {
  animation-name: swap-5;
}

@keyframes swap-1 {
  0%,
  50% {
    opacity: 1;
    visibility: visible;
  }
  50.01%,
  90% {
    opacity: 0;
    visibility: hidden;
  }
  90.01%,
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes swap-2 {
  0%,
  50% {
    opacity: 0;
    visibility: hidden;
  }
  50.01%,
  60% {
    opacity: 1;
    visibility: visible;
  }
  60.01%,
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes swap-3 {
  0%,
  60% {
    opacity: 0;
    visibility: hidden;
  }
  60.01%,
  70% {
    opacity: 1;
    visibility: visible;
  }
  70.01%,
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes swap-4 {
  0%,
  70% {
    opacity: 0;
    visibility: hidden;
  }
  70.01%,
  80% {
    opacity: 1;
    visibility: visible;
  }
  80.01%,
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes swap-5 {
  0%,
  80% {
    opacity: 0;
    visibility: hidden;
  }
  80.01%,
  90% {
    opacity: 1;
    visibility: visible;
  }
  90.01%,
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
