// =============================================================================
// Footer
// =============================================================================

.footer {
  display: block;
  padding-top: 35px;
  margin-bottom: 85px;
  border-top: 1px solid $base-border-color;
  p {
    font-size: 12px;
    color: $gray-light;
  }
  a {
    text-decoration: none;
  }
}

.footer-links {
  float: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0 0 15px 0;
  list-style: none;
  li {
    display: inline-block;
    margin-left: 20px;
    vertical-align: middle;
    &:first-child {
      margin-left: 0;
    }
    a {
      font-size: 18px;
      color: $header-link-color;
      fill: $header-link-color;
      &:hover {
        color: $header-link-color-hover;
        fill: $header-link-color-hover;
      }
    }
  }
}

@include breakpoint(extra-small) {
  .footer-links {
    li {
      margin: 0 10px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.icon-freecodecamp {
  padding-top: 4px;
}